@charset "iso-8859-1";

/*******************************************************************************
*  skidoo_redux_theme.css : 2007.01.31 : ruthsarian@gmail.com
* -----------------------------------------------------------------------------
*  
*  This stylesheet provides the theme of the layout. The theme includes
*  anything that controls the presentation of the page, but typically it's just
*  for setting colors, fonts, borders, and gutter space. 
*
*  It is possible to offer multiple themes for a single page and allow the
*  user to pick the one that best fits their needs. 
*  
* ------------------------------------------------------------------------------
*  This stylesheet is released into the public domain.
*******************************************************************************/

#page-container
{
	font-size: 80%;			/* font attributes set here so that
					   the font sizer javascript bit can
					   operate on the body element and not
					   fubar things */
	font-family: arial, helvetica, sans-serif;
}
#page-container, #inner-column-container, #masthead, #footer
{
	border-color: #99a;		/* all the borders within the layout */
}
#outer-column-container
{
	border-left-color: #f6f6f6;	/* left column background */
	border-right-color: #f6f6f6;	/* right column background */
}
#masthead, #footer
{
	background-color: #f6f6f6;	/* masthead and footer background */
}
#inner-column-container
{
	background-color: #fcfcfc;	/* middle column background */
}
#left-column h3, #right-column h3
{
	margin-bottom: 0;		/* column menu titles should
					   hug the menus */
}
p.fontsize-set
{
	text-align: center;		/* center the icons for changing
					   font size */
}
p.fontsize-set input
{
	margin: 0 2px;			/* space them out a bit */
}

/*******************************************************************************
 * RMENU RELATED STYLES
 *
 * These are styles specifically for the menus used in the layout. This has its
 * own section because there are quite a lot of rules that need to be set
 * in order to control just the theme of the menu.
 *
 */
ul.rMenu li
{
	background-color: #fcfcfc;	/* background of menu items */
}
ul.rMenu li:hover,
ul.rMenu li.sfhover
{
	background-color: #cce;		/* background color of parent menu item
					   when mouse is over a submenu */
}
ul.rMenu li a, #middle-column div.rMenu-hor
{
	border-color: #99a;		/* border color of menu items */
}
ul.rMenu li a:hover
{
	color: #fff;			/* color of menu item when mouse is
					   over it */
	background-color: #99f;		/* background color of menu item when
					   mouse is over it */
}
ul.rMenu li.sfhover a:active,
ul.rMenu li:hover a:active
{
	color: #fff;			/* color of menu item when clicked */
	background-color: #c00;		/* background color of menu item
					   when clicked */
}
div.rMenu-center ul.rMenu li
{
	background-color: #f6f6f6;	/* horizontal menu background color */
}

	
/******************************************************************************/