<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" 
			xmlns="http://java.sun.com/xml/ns/j2ee" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
    <display-name>L4All Server Version 4.0</display-name>
    <description>L4All Server Version 4.0</description>
	
	<servlet>
		<servlet-name>addEpisode</servlet-name>
		<servlet-class>uk.ac.bbk.dcs.l4all.servlets.AddNewEpisodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>editEpisode</servlet-name>
		<servlet-class>uk.ac.bbk.dcs.l4all.servlets.EditEpisodeServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>removeEpisode</servlet-name>
        <servlet-class>uk.ac.bbk.dcs.l4all.servlets.RemoveEpisodeFromTrailServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>getCourse</servlet-name>
        <servlet-class>uk.ac.bbk.dcs.l4all.servlets.GetCourseDetails</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>getRecommendations</servlet-name>
        <servlet-class>uk.ac.bbk.dcs.l4all.servlets.GetRecommendationServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>getTimeline</servlet-name>
        <servlet-class>uk.ac.bbk.dcs.l4all.servlets.GetTimelineDetailsServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>getUserDetails</servlet-name>
		<servlet-class>uk.ac.bbk.dcs.l4all.servlets.GetUserDetailsServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>createTimeline</servlet-name>
        <servlet-class>uk.ac.bbk.dcs.l4all.servlets.ManageTimelineServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>searchCourses</servlet-name>
		<servlet-class>uk.ac.bbk.dcs.l4all.servlets.SearchCoursesServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>searchPeople</servlet-name>
        <servlet-class>uk.ac.bbk.dcs.l4all.servlets.SearchPeopleServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>searchTimelines</servlet-name>
		<servlet-class>uk.ac.bbk.dcs.l4all.servlets.SearchTimelinesServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>saveUserIDDetails</servlet-name>
        <servlet-class>uk.ac.bbk.dcs.l4all.servlets.UserIDDetailsServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>saveUserLearningProfile</servlet-name>
        <servlet-class>uk.ac.bbk.dcs.l4all.servlets.UserLearningProfileServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>auth</servlet-name>
		<servlet-class>uk.ac.bbk.dcs.l4all.servlets.AuthenticateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchSimilar</display-name>
		<servlet-name>SearchSimilar</servlet-name>
		<servlet-class>uk.ac.bbk.dcs.l4all.servlets.SearchSimilarServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessSearchSimilar</display-name>
		<servlet-name>ProcessSearchSimilar</servlet-name>
		<servlet-class>uk.ac.bbk.dcs.l4all.servlets.ProcessSearchSimilar</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>processSearchCourses</display-name>
		<servlet-name>processSearchCourses</servlet-name>
		<servlet-class>uk.ac.bbk.dcs.l4all.servlets.ProcessSearchCourses</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessCourseDetails</display-name>
		<servlet-name>ProcessCourseDetails</servlet-name>
		<servlet-class>uk.ac.bbk.dcs.l4all.servlets.ProcessCourseDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CheckAdminServlet</display-name>
		<servlet-name>CheckAdminServlet</servlet-name>
		<servlet-class>
		uk.ac.bbk.dcs.l4all.servlets.CheckAdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ProcessTimelineServlet</display-name>
		<servlet-name>ProcessTimelineServlet</servlet-name>
		<servlet-class>
		uk.ac.bbk.dcs.l4all.servlets.ProcessTimelineServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ProcessRecommendationServlet</display-name>
		<servlet-name>ProcessRecommendationServlet</servlet-name>
		<servlet-class>
		uk.ac.bbk.dcs.l4all.servlets.ProcessRecommendationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetPersonalisationServlet</display-name>
		<servlet-name>GetPersonalisationServlet</servlet-name>
		<servlet-class>
		uk.ac.bbk.dcs.l4all.servlets.GetPersonalisationServlet</servlet-class>
	</servlet>	
    
    <servlet-mapping>
		<servlet-name>addEpisode</servlet-name>
		<url-pattern>/addEpisode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>editEpisode</servlet-name>
		<url-pattern>/editEpisode</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>removeEpisode</servlet-name>
		<url-pattern>/removeEpisode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>getCourse</servlet-name>
        <url-pattern>/getCourse</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>getRecommendations</servlet-name>
        <url-pattern>/getRecommendations</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>getTimeline</servlet-name>
        <url-pattern>/getTimeline</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>getUserDetails</servlet-name>
        <url-pattern>/getUserDetails</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>createTimeline</servlet-name>
        <url-pattern>/createTimeline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>searchCourses</servlet-name>
		<url-pattern>/searchCourses</url-pattern>
	</servlet-mapping>
	    <servlet-mapping>
        <servlet-name>searchPeople</servlet-name>
        <url-pattern>/searchPeople</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchTimelines</servlet-name>
		<url-pattern>/searchTimelines</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveUserIDDetails</servlet-name>
        <url-pattern>/jsp/saveUserIDDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveUserIDDetails</servlet-name>
        <url-pattern>/admin/registerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveUserLearningProfile</servlet-name>
        <url-pattern>/saveUserLearningProfile</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>auth</servlet-name>
		<url-pattern>/jsp/auth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchSimilar</servlet-name>
		<url-pattern>/searchSimilar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessSearchSimilar</servlet-name>
		<url-pattern>/jsp/doSearchSimilar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>processSearchCourses</servlet-name>
		<url-pattern>/jsp/doSearchCourses</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessCourseDetails</servlet-name>
		<url-pattern>/jsp/getCourseDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckAdminServlet</servlet-name>
		<url-pattern>/admin/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessTimelineServlet</servlet-name>
		<url-pattern>/jsp/manageTimeline</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessRecommendationServlet</servlet-name>
		<url-pattern>/jsp/doSearchRecommendation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPersonalisationServlet</servlet-name>
		<url-pattern>/getPersonalisation</url-pattern>
	</servlet-mapping>
	
	<taglib>
	  <taglib-uri>http://jakarta.apache.org/taglibs/xtags-1.0</taglib-uri>
	  <taglib-location>/WEB-INF/tld/taglibs-xtags.tld</taglib-location>
	</taglib>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
